<div class="kimbala product__accordion accordion secondary-prod-info " {{ block.shopify_attributes }} >
    <details open>
      <summary>
        <div class="summary__title" style="display:flex; justify-content: space-between;">
          <h4 class="h4 accordion__title">
           <b> PRODUCT INFORMATION </b>
          </h4>
          <span>-</span>
        </div>
      </summary>
    <div class="accordion__content rte">
      <div class="secondary-prod-info">
        {%- if product.metafields.my_fields.caffeine != blank -%}
            <div>
              <p> <b><i>Caffeine:</i></b> {{product.metafields.my_fields.caffeine}}</p>
            </div>
          {%- endif -%}
          {%- if product.metafields.my_fields.ingredients != blank -%}
            <div>
            <p> <b><i>Ingredients:</i></b>  {{product.metafields.my_fields.ingredients}}</p>
            </div>
          {%- endif -%}
        </div>
        {%- if product.metafields.my_fields.benefits == true  -%}
        <div>
        <p> <b><i>Benefits:</i></b> </p>
          <div class="icons-box">
            {%- if product.metafields.my_fields.vegetarian == true  -%}
            <div class="icon-box">
              {%- render 'vegetarian' -%}
            </div>
            {%- endif  -%}
            {%- if product.metafields.my_fields.gluten_free == true  -%}
              <div class="icon-box">
                {%- render 'Gluten-free' -%}
              </div>
            {%- endif -%}
            {%- if product.metafields.my_fields.no_shelf_stabilizers == true  -%}
            <div class="icon-box">
              {%- render 'No-shelf-stabilizers' -%}
            </div>
            {%- endif -%}
            {%- if product.metafields.my_fields.no_preservatives == true  -%}
            <div class="icon-box">
              {%- render 'no-preservitives' -%}
            </div>
            {%- endif -%}
            {%- if product.metafields.my_fields.no_artificial_flavors == true  -%}
            <div class="icon-box">
              {%- render 'no-artifical-flavors' -%}
            </div>
            {%- endif -%}
            {%- if product.metafields.my_fields.vegan == true  -%}
            <div class="icon-box">
              {%- render 'vegan' -%}
            </div>
            {%- endif -%}
            {%- if product.metafields.my_fields.no_refined_sugar == true  -%}
            <div class="icon-box">
              {%- render 'no-refined-sugar' -%}
            </div>
            {%- endif -%}
            {%- if product.metafields.my_fields.no_caffeine == true  -%}
            <div class="icon-box">
              {%- render 'no-caffeine' -%}
            </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
      {%- if product.metafields.my_fields.pairings != blank  -%}
      <div class="secondary-prod-info">
        <p><b><i>Pair With:</i></b></p>
        <p>{{product.metafields.my_fields.pairings}}</p>
      </div>
      {%- endif -%}
    </div>
    
    </details>
  </div>