

<h2>Hello World</h2>

{% schema %} 
{ 
    "name": "Recipie Section", 
    "settings": [
      {
          "type": "color_picker",
          "id": "color_bg",
          "label": "Background  Color"
      }
    ],
    "presets": [ 
      { "name": "Recipie Section" } 
    ] 
    
} 
{% endschema %}