<div>
  <h1>
    <img src={{ "" }} />
    <span>Vintage & thrift</span>
  </h1>
</div>

{% schema %} 
{ 
    "name": "Hero", 
    "presents": [ 
    { 
        "name": "Hero" } 
    ] 
} 
{% endschema %}
