{{ 'kimbala-recipe-section.css' | asset_url | stylesheet_tag }}

<div>
    <h2>Steps</h2>
    {%- for block in section.blocks -%}
            <div class="recipe-step">
                <div>
                    <p>{{block.id}}</p>
                    <p>{{ block.settings.recipe_part }}</p>
                </div>
                
                <img src="{{block.settings.recipe_img | img_url: 'medium'}}"/>

            </div>

    {%- endfor -%}
</div>

{% schema %} 
{ 
    "name": "Recipe", 
    "blocks": [
        {
            "type": "recipe_section",
            "name": "Recipe Section",
            "settings": [
                {   
                    "type": "textarea",
                    "id": "recipe_part",
                    "label": "Recipe",
                    "placeholder": "Recipe Part here"
                },
                {
                    
                    "type": "image_picker",
                    "id": "recipe_img",
                    "label": "Recipe Image"
                   
                }
            ]
        }
    ],
    "settings": [
      {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
      }
      
    ],
    "presets": [ 
      { "name": "Recipie Section" } 
    ] 
    
} 
{% endschema %}