.secondary-prod-info {
  width: calc(36% - 1rem / 2);
  padding: 0;
  margin: 0;
  margin-left: 20px;
  
}

.icons-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

div.wavySection {
  margin: 0;
  width: 100%;
}

.wavyBody {
  min-height: 300px;
}

.icon-box {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.icon {
  width: 50px;
}

.icon-box h4 {
  font-size: 0.8rem;
  text-align: center;
}

.secondary-prod-info li {
  font-style: italic;
}


.button,
.shopify-challenge__button,
.shopify-payment-button__button,
.customer button {
  padding: 0;
  min-height: 3rem;
  border-radius: 5px;
}

.quantity {
  padding: 0;
  height: 3rem;
  border-radius: 5px;
}

.product__media.media {
  
  display: flex;
  width:30rem;
  height: 45rem;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  flex-grow: 1;
}

.product__media.media img {
  max-height: 100%;
}


.customer__reviews {
  display: flex;
  flex-direction: row;
}

.rating-row {
  display: flex;
  flex-direction:row;
  height: 50px;
}

@media (max-width: 768px) {
  .product__media.media {
    max-height: 100%;
  }
  .secondary-prod-info {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 990px) {
  .no-js slider-component .slider {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) {
  .slider.slider--mobile {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  .slider.slider--mobile .slider__slide {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .slider-buttons {
    display: flex;
  }
}
