

.wavyBody {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 100px;
    
    position: realtive;
}

.wavyBody img {
    object-fit: cover;
}

.wavyBody h2 {
    font-size: 36px;
    display: block;
    margin-bottom: 0;
}

.wavyWave {
   

    z-index: 3;
}

.WavyImgTextPair {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WavyImgTextPair img {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.WavyImgTextPair h2{
    font-size: 24px;
    width: 240px;

    margin-bottom: 20px;
}

.fullWavyImgTextPair {
    display:flex; 
    flex-direction: row; 
    width: 100%; 
    height: 100%;
}

.img-textBlock {
    width: 50%; 
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 20px;
}









