.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  padding:100px 20px 100px 0;

  background-size:fill;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-container {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container h4 {
  margin:0;
  font-size: 24px;
}

.hero-container h1 {
  margin:0;
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
}

.hero-side-text {
  width: 50%; 
  text-align: start; 
  padding: 50px;
}

@media (max-width: 780px) {
  

  .hero-side-text {
    width: 100%;
    text-align: center;
  }
}
