.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.1rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 1rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

.contact__fields input,
.field input,
.field__input {
  width:100%;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}

input {
  border: none;
}



@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-column-gap: 2rem;
  }
  
}

.grecaptcha-badge {
  visibility: hidden;
}

.field {
  flex-direction: column;
}

.field h4 {
  color: #111;
  margin: 10px 0;
}

div.contact__button {
  text-align: center;
}
